<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} [%X{REQUEST_ID}] [%p] [%t] [%C%M%L] %m %n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="./log/app.log" filePattern="./log/app_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} [%X{REQUEST_ID}] [%p] [%t] [%C%M%L] %m %n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <logger name="com.lining.maven" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </logger>
    </Loggers>
</Configuration>